.snkrs-vote-scene

  .snkr-card-img
    background-size: cover
    width: 100%

  .snkrs-vote-bg
    position: absolute
    top: -2.5%
    left: -2.5%
    background-position: center center
    background-size: cover
    background-color: white
    background-repeat: no-repeat
    width: 105%
    height: 105%
    filter: blur(1px);
    -webkit-filter: blur(1px);

  .snkrs-vote-overlay
    width: 100%
    height: 100%
    background-color: #111
    opacity: .9