.ui-swipeable-cards

  .ui-swipeable-container
    margin: 0 auto
    perspective: 1500px
    position: relative

  .ui-swipeable-card
    background-color: #e7e7e7
    border-radius: .8rem
    border-top: 1px solid #fff
    height: 100%
    left: 0
    overflow: hidden
    position: absolute
    right: 0
    width: 100%
    z-index: 1

    &.ui-transition
      transition: transform .3s

  .discard-button
    position: relative
    bottom: -4rem
    left: 35%
    margin-left: -2.5rem
    width: 5rem
    text-align: center

  .accept-button
    position: relative
    bottom: -4rem
    left: 55%
    margin-left: -2.5rem
    width: 5rem
    text-align: center
